<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_nodejs</title>
    
        <link rel="stylesheet" href="./Css/style.css">
        <script src="./js/validation.js"></script>
      
</head>
<body>
    <form action="/user.html" method="post"></form>
    
        <div class="container">
            <h1>
                LOGIN
            </h1>
            
            <input type="text" placeholder="Enter Username" name="" id="uname"required>
        
            
            <input type="password" placeholder="Enter Password" name="" id="psw" required>
        
            <input type="submit" name="" value="Login" onclick= "Validate()">
            
        </div>
    
      
      
    </form>
</body>
<script src="/js/validation.js"></script>
</html>

    