<!DOCTYPE html>
<html long="en">
  <head>
    <meta character="ULF-8" />
    <meta name="viewport" content="width=device-width" ,initial-scale="1.0" />
    <title>notes</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="./Css/tdl.css">
  </head>
  <body>
    
    <div class="todo">
      <h1>To Do List</h1><br>
      <input id="newNote" type="text" />
      <button class="ui blue button"id="add">ADD</button>
      <!-- <button id="display">Display</button> -->
      <div id="container">
          <ul id="noteList">
              
      
          </ul>
      </div>
  </div>
    <!-- <button id="delete">delete</button> -->
    <!-- delete: -->
    <!-- <input type="button"  id="new" value="delete" > -->
    <!-- "quit"-quit app -->
    <div class="logout">
     <!--<button id="Lout" onclick= "./user">Logout</button>-->
     <input class="ui center aligned green button "type="submit" name="" value="Logout" id="Lout">
    </div>
  </body>
  
  <script src="/js/notess.js"></script>
</html>
